{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb-base", "airbnb/rules/react"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "rules": {
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "no-unused-vars": "warn",
    "prefer-arrow-callback": "off"
  }
}
