.transition-fade-self {
  transition: opacity 300ms ease-out;
  &.fade-enter {
    opacity: 0;
  }
  &.fade-enter-active {
    opacity: 1;
  }

  &.fade-exit {
    opacity: 1;
  }
  &.fade-exit-active {
    opacity: 0;
  }
}

.transition-slide-right-self {
  transition: transform 300ms ease-out;

  &.slide-right-appear {
    transform: translate(-100%, 0);
  }
  &.slide-right-appear-active {
    transform: translate(0, 0);
  }
  &.slide-right-enter {
    transform: translate(-100%, 0);
  }
  &.slide-right-enter-active {
    transform: translate(0, 0);
  }
  &.slide-right-exit {
    transform: translate(0, 0);
  }
  &.slide-right-exit-active {
    transform: translate(-100%, 0);
  }
}

.transition-fade {
  $time: 300ms;
  .fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity $time ease-out;
  }

  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity $time ease-out;
  }
}
