.transition-fade-self {
  transition: opacity 300ms ease-out;
  &.ani-fade-enter {
    opacity: 0;
  }
  &.ani-fade-enter-active {
    opacity: 1;
  }

  &.ani-fade-exit {
    opacity: 1;
  }
  &.ani-fade-exit-active {
    opacity: 0;
  }
}

.transition-slide-right-self {
  transition: transform 300ms ease-out;

  &.ani-slide-right-appear {
    transform: translate(-100%, 0);
  }
  &.ani-slide-right-appear-active {
    transform: translate(0, 0);
  }
  &.ani-slide-right-enter {
    transform: translate(-100%, 0);
  }
  &.ani-slide-right-enter-active {
    transform: translate(0, 0);
  }
  &.ani-slide-right-exit {
    transform: translate(0, 0);
  }
  &.ani-slide-right-exit-active {
    transform: translate(-100%, 0);
  }
}

.transition-fade {
  $time: 300ms;
  .ani-fade-enter {
    opacity: 0;
  }
  .ani-fade-enter-active {
    opacity: 1;
    transition: opacity $time ease-out;
  }

  .ani-fade-exit {
    opacity: 1;
  }
  .ani-fade-exit-active {
    opacity: 0;
    transition: opacity $time ease-out;
  }
}
